.error {
    width: 100%;
    line-height: 1;
    background: #f2dede;
    padding: 10px;
    padding-bottom: 1px;
    margin: auto;
    border: 1px solid #a94442;
    color: #a94442;
    border-radius: 5px;
  }